        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
          <title>TTTIIITLE</title>
          <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      </head>
      <body style="margin: 0; padding: 0;">
       <table border="1" cellpadding="0" cellspacing="0" width="100%">
          <tr>
             <td>
                <table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                   <tr>
                      <td bgcolor="#999999" align="center">
                         <h1>Новостной дайжест</h1>
                     </td>
                 </tr>
                 {{#news}}
                 <tr>
                  <td style="padding: 20px 0 10px 0;">
                    <h3>{{title}}</h3>
                    <p>{{content}}</p>
                 </td>
             </tr>
             {{/news}}
         </table>
     </td>
 </tr>
</table>
</body>
</html>