<template>
  <div v-if="active" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content box">
      <h1 class="title">Редактор группы</h1>

      <b-field label="Название">
        <b-input v-model="name" placeholder="Название группы" />
      </b-field>

      <b-field grouped>
        <div v-if="!group" class="control">
          <button v-on:click="postGroup" class="button is-primary">Добавить</button>
        </div>

        <div v-if="group" class="control">
          <button v-on:click="patchGroup" class="button is-primary">Сохранить изменения</button>
        </div>

        <div v-if="group" class="control">
          <button v-on:click="deleteGroup" class="button">Удалить</button>
        </div>
      </b-field>
    </div>
    <button class="modal-close is-large" aria-label="close" v-on:click="close()"></button>
  </div>
</template>

<script>
export default {
  name: 'MenuModalGroup',
  props: [],
  data () {
    return {
      active: false,
      group: null,
      name: ''
    }
  },
  methods: {
    close: function () {
      this.group = null
      this.name = ''
      this.active = false
    },
    open: function (group) {
      if (group) {
        this.group = group
        this.name = group.name
      }

      this.active = true
    },
    closeWithUpdate: function () {
      this.close()
      this.$emit('update')
    },
    postGroup: function () {
      var self = this
      this.$backend.post('groups/', {
        'name': self.name
      }).then(function () { self.closeWithUpdate() })
    },
    patchGroup: function () {
      var self = this
      this.$backend.patch('groups/' + self.group.id, {
        'name': self.name
      }).then(function () { self.closeWithUpdate() })
    },
    deleteGroup: function () {
      var self = this
      this.$backend.delete('groups/' + self.group.id).then(function () { self.closeWithUpdate() })
    }
  }
}
</script>
