<template>
  <div>
    <b-modal :active.sync="partEditorProps.active">
      <div class="box">
        <part-editor v-bind="partEditorProps" v-on:update="updateParts()"/>
      </div>
    </b-modal>

    <b-modal :active.sync="partCreationActive">
      <div class="box">
        <b-table :data="newsList" :checked-rows.sync="checkedNews" :is-row-checkable="(row) => row.checkable"
          hoverable checkable narrowed>
          <template slot-scope="props">
            <b-table-column field="title" label="Заголовок" sortable>
              {{props.row.title}}
            </b-table-column>

            <b-table-column field="group" label="Новостная группа" sortable>
              {{props.row.group}}
            </b-table-column>
          </template>
        </b-table>

        <b-field>
          <button v-on:click="createPartsFromCheckedNews()" class="button is-primary">
            Добавить выбранные новости
          </button>
        </b-field>
      </div>
    </b-modal>

    <section class="section">
      <h1 class="title">Редактирование рассылки</h1>
      <div class="columns">
        <div class="column box">
          <h2 class="title is-4">Рассылка</h2>

          <b-field label="Заголовок" expanded>
            <b-input v-model="title" placeholder="Заголовок"/>
          </b-field>

          <b-field>
            <b-field>
              <button v-on:click="saveNewsletter()" class="button">
                Сохранить
              </button>
            </b-field>

            <b-field>
              <button v-on:click="sendNewsletter()" class="button">
                Отправить
              </button>
            </b-field>

            <b-field>
              <b-datepicker v-model="publicationDate" icon="calendar-today" />
            </b-field>

            <b-field>
              <button v-on:click="planNewsletter()" class="button">
                Запланировать
              </button>
            </b-field>
          </b-field>

          <h2 class="title is-4">Части</h2>

          <b-field>
            <b-field>
              <button v-on:click="openPartCreation()" class="button">
                Добавить новости
              </button>
            </b-field>

            <b-field>
              <button v-on:click="openPartEditor()" class="button">
                Добавить часть
              </button>
            </b-field>
          </b-field>

          <b-table :data="partsList" hoverable>
            <template slot-scope="props">
              <b-table-column field="title" label="Заголовок" sortable>
                {{props.row.title}}
              </b-table-column>

              <b-table-column field="date" label="Дата" sortable>
                {{props.row.formatDate}}
              </b-table-column>

              <b-table-column field="options" label="Управление" centered>
                <button v-on:click="openPartEditor(props.row.id)" class="button is-small">
                  Изменить
                </button>

                <button v-on:click="deletePart(props.row.id)" class="button is-small">
                  Удалить
                </button>
              </b-table-column>
            </template>
          </b-table>

        </div>
      </div>
    </section>
  </div>
</template>

<script>
import PartEditor from '@/components/PartEditor'
import NewsEditor from '@/components/NewsEditor'
import NewsPreview from '@/components/NewsPreview'

export default {
  name: 'MenuEditNewsletter',
  components: {
    'news-editor': NewsEditor,
    'news-preview': NewsPreview,
    'part-editor': PartEditor
  },
  data () {
    return {
      groups: [],
      newsletter: null,
      news: [],
      parts: [],

      title: '',
      publicationDate: new Date(),

      checkedNews: [],

      partCreationActive: false,

      partEditorProps: {
        active: false,
        isModal: true,
        newsletter: null,
        part: null
      }
    }
  },
  computed: {
    location: function () { return this.$route.params.id || null },
    newsList: function () {
      var news = this.news.map(item => {
        var newItem = {
          'id': item.id,
          'title': item.title,
          'content': item.content,
          'date': this.$date.format(new Date(item.date))
        }

        var group = this.groups.find(group => group.id === item.group)
        if (group) {
          newItem.group = group.name
        }

        newItem.checkable = !this.parts.find(part => part.source === newItem.id)

        return newItem
      })
      return news
    },
    partsList: function () {
      var parts = this.parts.map(part => {
        var newPart = {
          'id': part.id,
          'title': part.title,
          'content': part.content,
          'formatDate': this.$date.format(new Date(part.date)),
          'date': part.date,
          'newsletter': part.newsletter
        }

        return newPart
      })
      return parts
    }

  },
  created: function () {
    this.updateNews()
    this.updateGroups()
    this.updateParts()
    this.updateNewsletter()
  },
  methods: {
    updateNews: function () {
      return this.$backend
        .get('news/available?newsletter=' + this.location)
        .then(response => {
          this.news = response.data
        })
    },
    updateGroups: function () {
      return this.$backend
        .get('groups')
        .then(response => {
          this.groups = response.data
        })
    },
    updateParts: function () {
      return this.$backend
        .get('newsletters/' + this.location + '/parts')
        .then(response => {
          this.parts = response.data
        })
    },
    updateNewsletter: function () {
      return this.$backend
        .get('newsletters/' + this.location)
        .then(response => {
          this.newsletter = response.data
          this.title = response.data.title
        })
    },
    openPartCreation: function () {
      this.partCreationActive = true
    },
    openPartEditor: function (partId) {
      this.partEditorProps.newsletter = this.newsletter

      if (partId) {
        this.partEditorProps.part = this.parts.find(item => item.id === partId)
      } else {
        this.partEditorProps.part = null
      }

      this.partEditorProps.active = true
    },
    createPartsFromCheckedNews: function () {
      var self = this
      var parts = this.checkedNews.map(item => {
        var news = this.news.find(newsItem => newsItem.id === item.id)
        var part = {
          'title': news.title,
          'content': news.content,
          'date': news.date,
          'source': news.id
        }

        this.$backend.post('newsletters/' + this.location + '/parts', part)
      })

      Promise.all(parts).then(function () {
        self.checkedNews = []
        self.updateParts()
      })
      this.partCreationActive = false
    },
    deletePart: function (partId) {
      var self = this
      return this.$backend.delete('newsletters/' + this.location + '/parts/' + partId).then(function () {
        self.updateParts()
      })
    },

    saveNewsletter: function () {
      var newsletter = {
        'title': this.title,
        'publicationDate': null
      }
      return this.$backend.patch('newsletters/' + this.location, newsletter)
    },
    sendNewsletter: function () {
      var newsletter = {
        'title': this.title,
        'publicationDate': new Date()
      }
      return this.$backend.patch('newsletters/' + this.location, newsletter)
    },
    planNewsletter: function () {
      var newsletter = {
        'title': this.title,
        'publicationDate': this.publicationDate
      }
      return this.$backend.patch('newsletters/' + this.location, newsletter)
    }
  }
}
</script>
