<template>
  <div v-if="active" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content box">
      <h1 class="title">Редактор пользователя</h1>

      <b-field label="Имя">
        <b-input :disabled="editor" v-model="name" placeholder="Имя пользователя" />
      </b-field>

      <b-field label="Группа">
        <b-select v-model="selectedGroup">
          <option v-for="group in groups" v-bind:key="group.id" v-bind:value="group.id"> {{group.name}}</option>
        </b-select>
      </b-field>

      <b-field grouped>
        <div v-if="!editor" class="control">
          <button v-on:click="postEditorPerson()" class="button is-primary">Добавить</button>
        </div>

        <div v-if="editor" class="control">
          <button v-on:click="patchEditorPerson()" class="button is-primary">Сохранить изменения</button>
        </div>

        <div v-if="editor" class="control">
          <button v-on:click="deleteEditor()" class="button is-primary">Удалить</button>
        </div>
      </b-field>
    </div>
    <button class="modal-close is-large" aria-label="close" v-on:click="close()"></button>
  </div>
</template>

<script>
export default {
  name: 'MenuModalEditor',
  props: ['groups'],
  data () {
    return {
      active: false,
      editor: null,
      selectedGroup: null,
      name: ''
    }
  },
  methods: {
    close: function () {
      this.editor = null
      this.name = ''
      this.selectedGroup = null
      this.active = false
    },
    open: function (editor) {
      if (editor) {
        this.editor = editor
        this.name = editor.name
        this.selectedGroup = editor.group
      }

      this.active = true
    },
    closeWithUpdate: function () {
      this.close()
      this.$emit('update')
    },
    postEditorPerson: function () {
      var self = this
      this.$backend.post('editors/', {
        'name': self.name,
        'group': self.selectedGroup
      }).then(function () { self.closeWithUpdate() })
    },
    patchEditorPerson: function () {
      var self = this
      this.$backend.patch('editors/' + self.editor.id, {
        'group': self.selectedGroup
      }).then(function () { self.closeWithUpdate() })
    },
    deleteEditor: function () {
      var self = this
      this.$backend.delete('editors/' + self.editor.id).then(function () { self.closeWithUpdate() })
    }
  }
}
</script>
