<template>
  <section class="section">
    <h1 class="title">Создание новой рассылки</h1>

    <b-field label="Заголовок">
      <b-input v-model="title" placeholder="Заголовок рассылки" />
    </b-field>

    <b-field>
      <div class="control">
        <button v-on:click="createNewsletter()" class="button is-primary">Создать</button>
      </div>
    </b-field>
  </section>
</template>

<script>
export default {
  name: 'MenuCreateNewsletter',
  data () {
    return {
      title: ''
    }
  },
  methods: {
    createNewsletter: function () {
      var self = this

      var request = {
        'title': this.title
      }

      this.$backend.post('newsletters/', request)
        .then(response => {
          var newsletterId = response.data
          self.$router.push('/newslettereditor/' + newsletterId)
        })
    }
  }
}
</script>
