<template>
  <div>
    <h1 class="title">Редактор новости</h1>

    <b-field grouped>
      <b-field label="Заголовок" expanded >
        <b-input placeholder="Заголовок" v-model="title" />
      </b-field>

      <b-field label="Дата публикации">
        <b-datepicker icon="calendar-today" v-model="rawDate" />
      </b-field>
    </b-field>

    <b-field label="Содержание">
      <b-input maxlength="5000" type="textarea" v-model="content" />
    </b-field>

    <b-field>
      <button v-if="news" v-on:click="patchNews" class="button is-primary">Сохранить изменения</button>

      <button v-if="!news" v-on:click="postNews" class="button is-primary">Создать новость</button>

    </b-field>
  </div>
</template>

<script>

export default {
  name: 'NewsEditor',
  props: ['isModal', 'news'],
  data () {
    return {
      title: '',
      content: '',
      rawDate: new Date()
    }
  },
  created: function () {
    if (this.news) {
      this.title = this.news.title
      this.content = this.news.content
      this.rawDate = new Date(this.news.date)
    }
  },
  methods: {
    finish: function (id) {
      this.$emit('update')

      if (this.isModal) {
        this.$parent.close()
      }
    },
    postNews: function () {
      var self = this
      this.$backend.post('news/', {
        'title': self.title,
        'content': self.content,
        'date': self.rawDate.getTime()
      }).then(function (response) {
        var newsId = response.data
        self.$emit('created', newsId)

        self.finish()
      })
    },
    patchNews: function () {
      var self = this
      this.$backend.patch('news/' + self.news.id, {
        'title': self.title,
        'content': self.content,
        'date': self.rawDate.getTime()
      }).then(function () {
        self.finish()
      })
    }
  }
}
</script>
