<template>
  <div>
    <h1 class="title">{{title}}</h1>

    <p>{{rawDate}}</p>

    <p>{{content}}</p>
  </div>
</template>

<script>

export default {
  name: 'NewsPreview',
  props: ['news'],
  data () {
    return {
      title: '',
      content: '',
      rawDate: new Date()
    }
  },
  created: function () {
    if (this.news) {
      this.title = this.news.title
      this.content = this.news.content
      this.rawDate = new Date(this.news.date)
    }
  },
  methods: {
    finish: function (id) {
      this.$parent.close()
    }
  }
}
</script>
