<template>
  <div class="content">
    <h1 class="title">Редактор части</h1>

    <b-field grouped>
      <b-field label="Заголовок" expanded >
        <b-input placeholder="Заголовок" v-model="newPart.title" />
      </b-field>

      <b-field label="Дата публикации">
        <b-datepicker icon="calendar-today" v-model="newPart.date" />
      </b-field>
    </b-field>

    <b-field label="Содержание">
      <b-input maxlength="5000" type="textarea" v-model="newPart.content" />
    </b-field>

    <b-field>
      <button v-if="part" v-on:click="changePart()" class="button">Сохранить</button>
      <button v-if="!part" v-on:click="createPart()" class="button">Добавить</button>

      <button v-if="news" v-on:click="resetFields()" class="button">Сбросить</button>
    </b-field>
  </div>
</template>

<script>
export default {
  name: 'PartEditor',
  props: ['part', 'newsletter', 'news'],
  data () {
    return {
      newPart: {
        title: '',
        content: '',
        date: new Date()
      }
    }
  },
  watch: {
  },
  created: function () {
    if (this.part) {
      this.newPart.title = this.part.title
      this.newPart.content = this.part.content
      this.newPart.date = new Date(this.part.date)
    }
  },
  methods: {
    finish: function (id) {
      this.$emit('update')

      this.$parent.close()
    },
    createPart: function () {
      var self = this
      this.$backend.post('newsletters/' + this.newsletter.id + '/parts', {
        'title': self.newPart.title,
        'content': self.newPart.content,
        'date': self.newPart.date
      }).then(function (response) {
        self.finish()
      })
    },
    changePart: function () {
      var self = this
      this.$backend.patch('newsletters/' + this.newsletter.id + '/parts/' + this.part.id, {
        'title': self.newPart.title,
        'content': self.newPart.content,
        'date': self.newPart.date
      }).then(function () {
        self.finish()
      })
    }
  }
}
</script>
