<template>
  <div class="container">
    <b-modal :active.sync="newsPreviewProps.active">
      <div class="box">
        <news-preview v-bind="newsPreviewProps"/>
      </div>
    </b-modal>

    <section class="section">
      <h1 class="title">Архив</h1>

      <b-field>
        <b-field>
          <b-input v-model="search" placeholder="Поиск" />
        </b-field>

        <b-field>
          <button v-on:click="loadNewsWithFiltering(search)" class="button is-primary">
            Поиск
          </button>
        </b-field>
      </b-field>

      <b-table
          :data="newsList"
          hoverable>

          <template slot-scope="props">
            <b-table-column field="title" label="Заголовок" sortable>
              {{ props.row.title }}
            </b-table-column>

            <b-table-column field="group" label="Новостная группа" sortable>
              {{ props.row.group }}
            </b-table-column>

            <b-table-column field="date" label="Дата публикации" sortable>
              {{ props.row.date }}
            </b-table-column>

            <b-table-column field="options" label="Управление" centered>
              <button v-on:click="openNewsPreview(props.row.id)" class="button is-small">
                Открыть
              </button>
            </b-table-column>
          </template>
      </b-table>
    </section>
  </div>
</template>

<script>
import NewsPreview from '@/components/NewsPreview'

export default {
  name: 'archive',
  components: {
    'news-preview': NewsPreview
  },
  data () {
    return {
      search: '',
      news: [],
      groups: [],
      errors: [],

      newsPreviewProps: {
        active: false,
        news: null
      }
    }
  },
  computed: {
    location: function () {
      return this.$route.params
    },
    newsList: function () {
      var filteredNews = this.news.filter(item => { return true })

      return filteredNews.map(item => {
        var newItem = {
          'id': item.id,
          'title': item.title,
          'date': this.$date.format(new Date(item.date))
        }

        var group = this.groups.find(group => group.id === item.group)
        if (group) {
          newItem.group = group.name
        }

        return newItem
      })
    },
    activeGroups: function () {
      return this.groups.filter(group => group.active)
    }
  },
  created () {
    this.$backend
      .get('news/published/')
      .then(response => {
        this.news = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })

    this.$backend
      .get('groups/')
      .then(response => {
        this.groups = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
  },
  methods: {
    openNewsPreview: function (newsId) {
      if (newsId) {
        this.newsPreviewProps.news = this.news.find(item => item.id === newsId)
      } else {
        this.newsPreviewProps.news = null
      }

      this.newsPreviewProps.active = true
    },
    loadNews: function () {
      return this.$backend
        .get('news/published')
        .then(response => {
          this.news = response.data
        })
    },
    loadNewsWithFiltering: function (contains) {
      return this.$backend
        .get('news/published?contains=' + contains)
        .then(response => {
          this.news = response.data
        })
    }
  }
}
</script>
