<template>
  <div class="container">
    <section class="section">
      <h1 class="title">Черновики</h1>
      <b-table :data="newsletterList" hoverable>
        <template slot-scope="props">
          <b-table-column field="title" label="Заголовок" sortable>
            {{ props.row.title }}
          </b-table-column>

          <b-table-column field="publicationDate" label="Дата публикации" sortable>
            {{ props.row.publicationDate ? props.row.publicationDate : '-' }}
          </b-table-column>

          <b-table-column field="options" label="Управление" centered>
            <button v-on:click="editNewsletter(props.row.id)" class="button is-primary is-small">
              Изменить
            </button>
            <a class="button is-small" v-bind:href="'//localhost:8080/api/newsletter_preview/' + props.row.id" target="_blank">
              Предпросмотр
            </a>
          </b-table-column>
        </template>
      </b-table>
    </section>
  </div>
</template>

<script>
export default {
  name: 'drafts',
  data () {
    return {
      newsletters: [],

      newsletterColumns: [
        {
          field: 'title',
          label: 'Заголовок',
          sortable: true
        },
        {
          field: 'date',
          label: 'Дата публикации',
          sortable: true
        }
      ]
    }
  },
  computed: {
    location: function () { return this.$route.params },
    newsletterList: function () {
      return this.newsletters.map(newsletter => {
        var newNewsletter = {
          'id': newsletter.id,
          'title': newsletter.title,
          'publicationDate': newsletter.publicationDate ? this.$date.format(new Date(newsletter.publicationDate)) : null
        }

        return newNewsletter
      })
    }
  },
  created () {
    this.$backend.get('newsletters/drafts/')
      .then(response => {
        this.newsletters = response.data
      })
  },
  methods: {
    editNewsletter: function (id) {
      this.$router.push('/newslettereditor/' + id)
    },
    deleteNewsletter: function (id) {
      this.$backend.delete('newsletters/' + id)
    }
  }
}
</script>
