<template>
  <div class="container">
    <section class="section">
      <div class="columns">
        <div class="column is-one-fifth">

        </div>
        <div class="column">
          <form action='/login' method='POST'>
            <div class="field">
              <label class="label">Логин</label>
              <div class="control">
                <input class="input" name="username" type="text" v-model="username" placeholder="Логин">
              </div>
            </div>
            <div class="field">
              <label class="label">Пароль</label>
              <div class="control">
                <input class="input" name="password" type="text" v-model="password" placeholder="Пароль">
              </div>
            </div>
            <!--<input name="_csrf" type="hidden" value="32e43c40-5bfa-422a-99f2-3ca91021a73b" />-->
            <div class="field">
              <div class="control">
                <button class="button is-primary" type="submit">Войти</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      errors: [],
      login: '',
      password: ''
    }
  },

  methods: {
    postLogin: function () {
      var credentials = {
        username: this.username,
        password: this.password
      }
      this.$backend.post('login', credentials)
    }
  }
}
</script>
