<template>
  <div class="container">
    <section class="section">
      <h1 class="title">Главная</h1>

      <nav class="level">
        <div class="level-left">
          Left
        </div>

        <div class="level-right">
          Right
        </div>
      </nav>
    </section>

      <div class="column is-10 is-offset-1">
        <div class="box">
          <iframe src="/api/newsletter_preview/4" width="100%" height="600">qw</iframe>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'Main',
  data () {
    return {
      currentRoute: '/'
    }
  }
}
</script>
