<template>
<div>
  <section class="section">
    <b-modal :active.sync="newsEditorProps.active">
      <div class="box">
        <news-editor v-bind="newsEditorProps" v-on:update="updateNews"/>
      </div>
    </b-modal>

    <div class="container">
      <h1 class="title">Неопубликованные новости</h1>

      <b-field>
        <button v-on:click="openNewsEditor(null)" class="button">Добавить новость</button>
      </b-field>

      <b-table :data="newsList" hoverable>
        <template slot-scope="props">
          <b-table-column field="title" label="Заголовок" sortable>
            {{ props.row.title }}
          </b-table-column>

          <b-table-column field="group" label="Новостная группа" sortable>
            {{ props.row.group }}
          </b-table-column>

          <b-table-column field="date" label="Дата" sortable>
            {{ props.row.date }}
          </b-table-column>

          <b-table-column field="options" label="Управление" centered>
            <button v-on:click="openNewsEditor(props.row.id)" class="button is-primary is-small">
              Изменить
            </button>

            <button v-on:click="deleteNews(props.row.id)" class="button is-small">
              Удалить
            </button>
          </b-table-column>
        </template>
      </b-table>
    </div>
  </section>
</div>
</template>

<script>
import NewsEditor from '@/components/NewsEditor'

export default {
  name: 'newseditor',
  components: {
    'news-editor': NewsEditor
  },
  data () {
    return {
      news: [],
      groups: [],

      newsEditorProps: {
        active: false,
        isModal: true,
        news: null
      }
    }
  },
  computed: {
    location: function () { return this.$route.params.id || null },
    newsList: function () {
      var activeUnpublishedNews = this.news.filter(item => { return item.active && !item.published })

      return activeUnpublishedNews.map(item => {
        var newItem = {
          'id': item.id,
          'title': item.title,
          'date': this.$date.format(new Date(item.date))
        }

        var group = this.groups.find(group => group.id === item.group)
        if (group) {
          newItem.group = group.name
        }

        return newItem
      })
    }
  },
  created: function () {
    this.updateNews()
    this.updateGroups()
  },

  methods: {
    openNewsEditor: function (newsId) {
      if (newsId) {
        this.newsEditorProps.news = this.news.find(item => item.id === newsId)
      } else {
        this.newsEditorProps.news = null
      }

      this.newsEditorProps.active = true
    },
    updateNews: function () {
      return this.$backend.get('news').then(response => {
        this.news = response.data
      })
    },
    updateGroups: function () {
      return this.$backend.get('groups').then(response => {
        this.groups = response.data
      })
    },
    deleteNews: function (newsId) {
      var news = this.news.find(item => item.id === newsId)
      news.active = false

      return this.$backend.patch('news/' + newsId, news).then(response => { this.updateNews() })
    }
  }
}
</script>
