<template>
  <div class="container">
      <menu-create-newsletter v-if="!location" />
      <menu-edit-newsletter v-else />

  </div>
</template>

<script>
import MenuCreateNewsletter from '@/components/MenuCreateNewsletter'
import MenuEditNewsletter from '@/components/MenuEditNewsletter'

export default {
  name: 'newslettereditor',
  components: {
    'menu-create-newsletter': MenuCreateNewsletter,
    'menu-edit-newsletter': MenuEditNewsletter
  },
  data () {
    return {
      news: [],
      newsletter_news_ids: [],
      groups: [],
      title: '',
      ttt: 0
    }
  },
  computed: {
    location: function () { return this.$route.params.id || null },
    selected_news_ids: function () { return this.news.filter(item => item.selected).map(item => item.id) }
  },

  methods: {
    postNewsletter: function () {
      var request = {
        'title': this.title,
        'news': this.selected_news_ids,
        'publicationDate': Date.now()
      }
      this.$backend.post('newsletters/', request)
        .then(response => {
          this.ttt = response.data
        })
    },
    patchNewsletter: function () {
      var request = {
        'title': this.title,
        'news': this.selected_news_ids}
      this.$backend.patch('newsletters/' + this.location, request)
    },
    deleteNewsletter: function () {
      this.$backend.delete('newsletters/' + this.location)
    },
    createNewsletter: function () {
      var request = {
        'title': this.title,
        'news': this.selected_news_ids,
        'publicationDate': Date.now()
      }
      this.$backend.post('newsletters/', request)
        .then(response => {
          this.ttt = response.data
        })
    }
  }
}
</script>
