<template>
  <div class="container">
    <menu-modal-editor v-bind:groups="groupList" v-on:update="updatePersons" ref="menuModalEditor" />
    <menu-modal-group v-on:update="updateGroups" ref="menuModalGroup" />
    <section class="section">
      <h1 class="title">Настройки</h1>

      <b-tabs>
        <b-tab-item label="Группы и редакторы">
          <div class="columns">
            <div class="column">
              <b-field>
                <button v-on:click="openModalGroup(null)" class="button">Добавить группу</button>
              </b-field>

              <b-table
                  :data="groupList.filter(g=>g.active)"
                  :columns="groupColumns"
                  :selected.sync="groupSelected"
                  default-sort="name"
                  hoverable>
              </b-table>
            </div>

            <div class="column">
              <b-field>
                <button v-on:click="openModalEditor(null)" class="button">Добавить редактора</button>
              </b-field>

              <b-table
                  :data="editorList"
                  :columns="editorColumns"
                  :selected.sync="editorSelected"
                  hoverable>
              </b-table>
            </div>
          </div>
        </b-tab-item>

        <b-tab-item label="Почтовые адреса">
          <b-field>
            <b-field>
              <b-input v-model="newMail" placeholder="mail@example" />
            </b-field>

            <b-field>
              <div class="control">
                <button v-on:click="addMail(newMail)" class="button is-primary">Добавить</button>
              </div>
            </b-field>
          </b-field>

          <b-table
          :data="mails"
          hoverable>

            <template slot-scope="props">
              <b-table-column field="address" label="Адрес" sortable>
                  {{ props.row.address }}
              </b-table-column>

              <b-table-column field="options" label="Управление" centered>
                <button v-on:click="deleteMail(props.row.id)" class="button is-primary is-small">
                  Удалить
                </button>
              </b-table-column>
            </template>
          </b-table>
        </b-tab-item>

        <b-tab-item label="Шаблон">
          <b-field label="Текст шаблона">
            <b-input type="textarea" v-model="template" class="monospace" placeholder="Текст шаблона" />
            <!-- TODO: monospace -->
          </b-field>

          <b-field>
            <div class="control">
              <button v-on:click="patchTemplate" class="button is-primary">Обновить шаблон</button>
            </div>
          </b-field>
        </b-tab-item>
      </b-tabs>

    </section>
  </div>
</template>

<script>
import ModalEditor from '@/components/MenuModalEditor'
import ModalGroup from '@/components/MenuModalGroup'

export default {
  name: 'settings',
  components: {
    'menu-modal-editor': ModalEditor,
    'menu-modal-group': ModalGroup
  },
  data () {
    return {
      new_group_name: '',
      new_editor_name: '',
      newMail: '',
      editors: [],
      groups: [],
      mails: [],
      template: '',
      groupSelected: {},
      groupColumns: [
        {
          field: 'name',
          label: 'Название',
          sortable: true
        }
      ],
      editorColumns: [
        {
          field: 'name',
          label: 'Имя',
          sortable: true
        },
        {
          field: 'groupName',
          label: 'Группа',
          sortable: true
        }
      ],
      editorSelected: null
    }
  },
  computed: {
    location: function () {
      return this.$route.params
    },
    activeGroups: function () {
      return this.groups.filter(group => group.active)
    },
    activeEditors: function () {
      return this.editors.filter(editor => editor.active)
    },
    editorList: function () {
      var self = this
      var activeEditors = this.editors.filter(editor => editor.active)
      return activeEditors.map(editor => {
        var group = self.groups.find(group => group.id === editor.group)
        editor.groupName = group.name

        return editor
      })
    },
    groupList: function () {
      return this.groups
    }
  },
  created: function () {
    this.updateGroups()
    this.updatePersons()
    this.updateTemplate()
    this.updateMails()
  },
  watch: {
    groupSelected: function (group) {
      if (group && group.id != null) {
        this.openModalGroup(group)
      }
      this.groupSelected = null
    },
    editorSelected: function (editor) {
      if (editor) {
        this.openModalEditor(editor)
      }
      this.editorSelected = null
    }
  },
  methods: {
    openModalEditor: function (editor) {
      this.$refs.menuModalEditor.open(editor)
    },
    openModalGroup: function (group) {
      this.$refs.menuModalGroup.open(group)
    },
    onCloseModalGroup: function () {
      this.updateGroups()
    },
    updateGroups: function () {
      this.$backend.get('groups?all=true').then(response => {
        this.groups = response.data
      })
    },
    updatePersons: function () {
      return this.$backend.get('editors?all=true').then(response => {
        this.editors = response.data
      })
    },
    updateTemplate: function () {
      return this.$backend.get('template').then(response => {
        this.template = response.data.body
      })
    },
    deleteEditorPerson: function (id) {
      var self = this
      return this.$backend.delete('editors/' + id).then(function () {
        self.updatePersons()
      })
    },
    deleteGroup: function (id) {
      var self = this
      return this.$backend.delete('groups/' + id).then(function () {
        self.updateGroups()
      })
    },
    postGroup: function () {
      var self = this
      return this.$backend
        .post('groups', {
          name: this.new_group_name,
          isActive: true
        })
        .then(function () {
          self.updateGroups()
        })
    },
    patchGroup: function (name, id) {
      var self = this
      return this.$backend
        .patch('groups/' + id, {
          name: name,
          isActive: false
        })
        .then(function () {
          self.updateGroups()
        })
    },
    patchTemplate: function () {
      return this.$backend.patch('template', {
        body: this.template
      })
    },
    updateMails: function () {
      var self = this
      return this.$backend.get('mails/').then(response => {
        self.mails = response.data
      })
    },
    deleteMail: function (mailId) {
      var self = this
      return this.$backend.delete('mails/' + mailId).then(response => {
        self.updateMails()
      })
    },
    addMail: function (address) {
      var self = this
      return this.$backend
        .post('mails/', { address: address })
        .then(response => {
          self.updateMails()
        })
    }
  }
}
</script>
