@import "~bulma/sass/utilities/_all";

$softwerke: #ED691F;
$softwerke-invert: findColorInvert($softwerke);

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($softwerke, $softwerke-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
);

$link: $softwerke;
$link-invert: $softwerke-invert;
$link-focus-border: $softwerke;

@import "~bulma";
@import "~buefy/src/scss/buefy";
