<template>
  <div id="app">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/static/logo.png">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" v-bind:class="{'is-active': burgerActive}" v-on:click="burgerActive = !burgerActive">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" v-bind:class="{'is-active': burgerActive}">
        <div class="navbar-start">
          <router-link :to="page.link" v-for="page in availablePages" v-bind:key="page.link" class="navbar-item" v-bind:class="{'is-active': page.link == location}">
            {{page.title}}
          </router-link>
        </div>
        <div class="navbar-end">
          <div v-if="user.role" class="navbar-item">
            {{user.name}} (<a href="/logout" >выйти</a>)
          </div>
        </div>
      </div>
    </nav>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      user: {
        name: null,
        role: null
      },
      burgerActive: false,
      pages: [
        {'title': 'Редактор новостей', 'link': '/newseditor', 'role': 'EDITOR'},
        {'title': 'Редактор рассылок', 'link': '/newslettereditor', 'role': 'EDITOR'},
        {'title': 'Черновики', 'link': '/drafts', 'role': 'EDITOR'},
        {'title': 'Архив', 'link': '/archive', 'role': 'READER'},
        {'title': 'Настройки', 'link': '/settings', 'role': 'ADMIN'},
        {'title': 'Вход', 'link': '/login', 'role': 'ANYONE'}
      ],
      selectedPage: null
    }
  },
  computed: {
    location: function () { return this.$route.name },
    availablePages: function () {
      return this.pages.filter(page => {
        if (!this.user.role) {
          return page.role === 'ANYONE'
        }

        if (this.user.role === 'READER') {
          return page.role === 'READER'
        }

        if (this.user.role === 'EDITOR') {
          return ['READER', 'EDITOR'].includes(page.role)
        }

        if (this.user.role === 'ADMIN') {
          return ['READER', 'EDITOR', 'ADMIN'].includes(page.role)
        }
      })
    }
  },
  created: function () {
    this.$backend.get('me').then(response => {
      this.user = response.data
    })
  }
}
</script>
